*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img, svg, picture {
    display: block;
    max-width: 100%;
}

:root {
    --clr-primary-red: hsl(10, 79%, 65%);
    --clr-primary-cyan: hsl(186, 34%, 60%);

    --clr-hover: hsla(10, 79%, 65%, .6);

    --clr-neutral-dark-brown: hsl(25, 47%, 15%);
    --clr-neutral-med-brown: hsl(28, 10%, 53%);
    --clr-neutral-cream: hsl(27, 66%, 92%);
    --clr-neutral-pale-orange: hsl(33, 100%, 98%);

    --fs-100: 0.875rem;
    --fs-200: 0.9375rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 2.9375rem;

    --fw-400: 400;
    --fw-700: 700;

    --font: 'DM Sans';

    --fs-balance-title: 1.375rem;

    --width-desktop: 1110px;
    --width-mobile: 100%;
    --grid-gap: 30px;
    --margin-mobile: 15px;
    --padding-mobile-horizontal: 20px;
    --padding-mobile-vertical: 30px;
}

body {
    background-color: var(--clr-neutral-cream);
    font-family: var(--font);
    font-size: var(--fs-400);
    color: var(--clr-neutral-med-brown);
    height: 100vh;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 540px;
    gap: 24px;
}

.my-balance {
    padding: 35px 40px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-primary-red);
    color: var(--clr-neutral-pale-orange);
    border-radius: 20px;
}

#heading {
    font-size: var(--fs-400);
}

#info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#amount {
    font-weight: var(--fw-700);
    font-size: var(--fs-800);
}

.spending {
    background-color: var(--clr-neutral-pale-orange);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 35px 40px;
    height: 510px;
}

#weekly-spending {
    display: flex;
    flex-direction: column;
}

#title {
    font-size: var(--fs-800);
    font-weight: var(--fw-700);
    color: var(--clr-neutral-dark-brown);
}

#days { 
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#day {
    flex: 1 1 0%;
    text-align: center;
    width: 50px;
}

.label {
    padding-top: 5px;
    text-align: center;
    font-size: var(--fs-200);
}

.bar {
    background-color: var(--clr-primary-red);
    width: 50px;
    border-radius: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--clr-neutral-dark-brown);
    border-radius: 5px;
    padding: 8px 4px;
    position: absolute;
    text-align: center;
    color: var(--clr-neutral-cream);
    font-weight: var(--fw-700);

    width: 80px;
    top: -50px;
    left: 50%;
    margin-left: -40px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    z-index: 5;
}

.bar:hover {
    cursor: pointer;
    background-color: var(--clr-hover);
}


#monthly-spending {
    border-top: 2px solid var(--clr-neutral-cream);
    margin-top: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

#percentage {
    text-align: right;
    font-weight: var(--fw-700);
    color: var(--clr-neutral-dark-brown);
}

#monthly-total {
    font-size: var(--fs-900);
    font-weight: var(--fw-700);
    color: var(--clr-neutral-dark-brown);
}

#monthly-difference {
    place-self: end ;
}

#monthly-total {
    line-height: 85%;
}

#monthly-title {
    padding-bottom: 15px;
}

@media (max-width: 600px) {
    .bar {
        width: 32px;
    }

    #container {
        margin: 67px 16px;
        gap: 16px;
    }

    #amount {
        font-size: var(--fs-600);
    }

    #heading {
        font-size: var(--fs-300);
    }

    #title {
        font-size: var(--fs-600);
    }



    .my-balance, .spending {
        padding: var(--padding-mobile-vertical) var(--padding-mobile-horizontal);
    }

    .my-balance {
        padding: 24px 20px;
        height: 100px;
    }

    #monthly-total {
        font-size: 1.875rem;
    }

    #monthly-title, #last-month, #percentage {
        font-size: var(--fs-300);
        letter-spacing: -0.4px;
    }

    .spending {
        height: 421px;
    }

    .label {
        font-size: 12px;
    }

    #days {
        height: 220px;
    }
}
